<p style="color: green"><%= notice %></p>

<%= render @unidade %>

<div>
  <%= link_to "Editar unidade", edit_unidade_path(@unidade), class: "button" %> |
  <%= link_to "Unidades", unidades_path, class: "button" %>
</div>

<div>
   <%= button_to "Excluir essa unidade", @unidade, method: :delete, class: "button3" %>
</div>
