<%= form_with(model: guarda) do |form| %>
  <% if guarda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guarda.errors.count, "error") %> impediram este guarda de ser salvo:</h2>

      <ul>
        <% guarda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_completo, style: "display: block", class: "field-text" %>
    <%= form.text_field :nome_completo, class: "input-centralizado" %>
  </div>

  <div>
    <%= form.label :matricula, style: "display: block", class: "field-text" %>
    <%= form.text_field :matricula, class: "input-centralizado" %>
  </div>

  <div>
    <%= form.label :porte_arma, style: "display: block", class: "field-text" %>
    <%= form.text_field :porte_arma, class: "input-centralizado" %>
  </div>

  <div>
    <%= form.label :equipe_id, "Equipe", style: "display: block", class: "field-text" %>
    <%= form.collection_select :equipe_id, @equipes, :id, :nome, { prompt: "Selecione uma equipe" }, { class: "input-centralizado" } %>
  </div>

  <div>
    <%= form.label :armeiro, style: "display: block", class: "field-text" %>
    <div class="checkbox-centralizado">
      <%= form.check_box :armeiro, class: "checkbox-centralizado" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar guarda", class: "button" %>
  </div>
<% end %>
