<div id="<%= dom_id guarda %>" class="show">
  <p class="show-nome">
    <strong>Nome completo:</strong>
    <%= guarda.nome_completo %>
  </p>

  <p class="show-nome">
    <strong>Matricula:</strong>
    <%= guarda.matricula %>
  </p>

  <p class="show-nome">
    <strong>Porte arma:</strong>
    <%= guarda.porte_arma %>
  </p>

  <p class="show-nome">
    <strong>Equipe:</strong>
    <%= guarda.equipe_id %>
  </p>

  <p class="show-nome">
    <strong>Armeiro:</strong>
    <%= guarda.armeiro %>
  </p>

</div>
