<p style="color: green"><%= notice %></p>

<%= render @guarda %>

<div>
  <%= link_to "Editar guarda", edit_guarda_path(@guarda), class: "button" %> |
  <%= link_to "Guardas", guardas_path, class: "button" %>

</div>

<div>
  <%= button_to "Excluir Guarda", @guarda, method: :delete, class: "button3" %>
</div>
