<%= image_tag "logo.png", alt: "Logo", class: "logo" %>
<h2 class="show-titulo">Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, style: "display: block", class: "field-text" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-centralizado" %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha", style: "display: block", class: "field-text" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input-centralizado" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Senha", style: "display: block", class: "field-text" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-centralizado" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class: "button" %>
  </div>
<% end %>

