<p style="color: green"><%= notice %></p>

<%= render @equipe %>

<div>
  <%= link_to "Editar equipe", edit_equipe_path(@equipe), class: "button" %> |
  <%= link_to "Equipes", equipes_path, class: "button" %>
</div>

<div>
  <%= button_to "Excluir equipe", @equipe, method: :delete, class: "button3" %>
</div>