<p style="color: green"><%= notice %></p>

<%= link_to "Menu Principal", root_path, class: "button2" %>

<% content_for :title, "Despachos" %>

<h1 class="show-titulo">Despachos</h1>

<div style="margin-bottom: 20px;">
  <%= link_to "Novo Empréstimo", new_despacho_path(tipo: "Empréstimo"), class: "button2" %>
  <%= link_to "Nova Devolução", new_despacho_path(tipo: "Devolução"), class: "button2" %>
</div>

<div id="despachos">
  <% @despachos.each do |despacho| %>
    <%= render despacho %>
    <p class="field-text">
      <%= link_to "Mostrar despacho", despacho, class: "button" %>
    </p>
  <% end %>
</div>
