<p style="color: green"><%= notice %></p>

<%= render @despacho %>

<div>
  <%= link_to "Editar despacho", edit_despacho_path(@despacho), class: "button" %> |
  <%= link_to "Despachos", despachos_path, class:"button" %>

</div>

<div>
  <%= button_to "Excluir despacho", @despacho, method: :delete, class:"button3" %>
</div>