<!DOCTYPE html>
<html>
  <head>
    <title>Página Inicial</title>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>

    <main>
      <h1>Bem-vindo ao Sistema</h1>
      <div>
        <%= link_to "Cadastro de Unidades", unidades_path, class: "button" %>
        <%= link_to "Cadastro de Equipes", equipes_path, class: "button" %>
        <%= link_to "Cadastro de Guardas", guardas_path, class: "button" %>
        <%= link_to "Cadastro de Armas", armas_path, class: "button" %>
        <%= link_to "Cadastro de Despachos", despachos_path, class: "button" %>
      </div>
    </main>
  </body>
</html>
