<%= form_with(model: arma) do |form| %>
  <% if arma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(arma.errors.count, "error") %> impediram esta arma de ser salva:</h2>

      <ul>
        <% arma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :modelo, style: "display: block", class: "field-text" %>
    <%= form.text_field :modelo, class: "input-centralizado" %>
  </div>

  <div>
    <%= form.label :registro, style: "display: block", class: "field-text" %>
    <%= form.text_field :registro, class: "input-centralizado" %>
  </div>

  <div>
    <%= form.label :emprestada, style: "display: block", class: "field-text" %>
    <div class="checkbox-centralizado">
      <%= form.check_box :emprestada, class: "checkbox-centralizado" %>
    </div>
  </div>

  <div>
    <%= form.submit "Cadastrar arma", class: "button" %>
  </div>
<% end %>
