<p style="color: green"><%= notice %></p>

<%= render @arma %>

<div>
  <%= link_to "Editar essa arma", edit_arma_path(@arma), class:"button" %> |
  <%= link_to "Armas", armas_path, class: "button" %>
</div>

<div>
  <%= button_to "Excluir arma", @arma, method: :delete, class:"button3" %>
</div>
